.out{
align-self: auto;
margin-right: 350px;
margin-left: 450px;
margin-bottom: 350px;
margin-top: 250px;
color: rgb(98, 75, 226);
font: outline;
} 
.fullclass
{
 background-color: rgb(191, 241, 241)   
}